section.cartContainer {
  width: 392px;
  margin-top: 100px;
  padding: 0px 24px;
  border: 1px solid #F0F0F5;
  border-radius: 8px;

  .cartTitle {
    margin: 32px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
  }
}

section.productList{
  .productContainer {
      display: flex;
      flex-wrap: nowrap;
      margin-top: 2px;
      margin-bottom: 32px;
    
  
    .imgContainer {
      width: 100px;
      height: 100px;
      margin-right: 21px;
    }
  
    .productInfo {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      align-items: flex-start;
      
      .productName {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-right: auto;
      }
    
      .productControlContainer {
        display: block;
        width: 100%;
        order: 1;
      }
    
      .productControl {
        display: flex;
        width: 116px;
        margin-top: 18px;
        margin-bottom: 17px;
        justify-content: space-between;
        align-items: center;
      
    
        .productAction {
          width: 26px;
          height: 27px;
          cursor: pointer;
        }
      
        .productCount {
          display: inline-block;
        }
      }
    
      .price {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
      }
    }
  }
}


section.cartInfo {
  border-top: 1px solid #F0F0F5;
  display: flex;
  padding-top: 16px;
  padding-bottom: 32px;
  align-items: center;
  justify-content: space-between;

  .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .price {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
  }
}