.progressControlContainer {
  display: flex;
  flex-direction: column;
  width: 540px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  border-top: 1px solid #E6E6EB;
}

.buttonGroup1 {
  justify-content: end;
}


.next, .prev {
  display: flex;
  align-items: center;
  width: 174px;
  height: 46px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.next {
  justify-content: center;
  background-color: #f67599;
  color: white;
}

.prev {
  background: none;
}

.start {
  visibility: hidden;
}

.arrowLeft {
  fill: black;
  margin-right: 12px;
}

.arrowRight {
  margin-left: 12px;
}